<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col"><h1>Families</h1></div>
  <div class="col text-right"><%= link_to 'New Family', new_organization_family_path, class: "btn btn-primary" %></div>
</div>

<% if !@families.present? %>
  <div class="col">NO DATA</div>
<% end %>

<% @families.each do |family| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title a-link">
        <%= link_to family.name, organization_families_path(family.organization_id, family), class: 'card-link' %>
      </h5>
      <p class="card-text"><%= family.phone %></p>

      <%= link_to 'Edit', edit_organization_family_path(family.organization_id, family), class: 'btn btn-warning' %>
      <%= link_to 'Destroy', organization_family_path(family.organization_id, family), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
</div>
<% end %>
