<!DOCTYPE html>
<html>
  <head>
    <title>ThaiVisaAdvisor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
      <div class="container">
        <a class="navbar-brand" href="/">Thai Visa Advisor</a>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark'  %>        
            </li>
          <% end %>
        </ul>
      </div>

    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
