
<% if member.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

    <ul>
    <% member.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= bootstrap_form_with(model: member, local: true, url: url) do |form| %>

  <%= form.text_field :first_name %>
  <%= form.text_field :last_name %>
  
  <% if !current_user.is_family %>
    <%= form.date_field :visa_exp %>
    <%= form.date_field :wp_exp %>
    <%= form.date_field :noti90 %>
    <%= form.date_field :passport_exp %>
  <% end %>

  <%= form.date_field :doe %>
  <%= form.date_field :dob %>

  <%= form.submit %>

<% end %>
