
<div class="row manage-title">
  <div class="col"><h1>Family: <%= @family.name %></h1></div>
  <div class="col text-right">
    <% if can? :new, @member %>
      <%= link_to 'New Member', new_family_member_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<% if !@members.present? %>
  <div class="col">NO DATA</div>
<% end %>

<div class="row">
<% @members.each_with_index do |member, index| %>
<div class="col-12">
  <div class="card">
    <h5 class="card-header">
      <div class="row">
        <div class="col-9">
          <%= member.first_name %> <%= member.last_name %>
        </div>
        <div class="col text-right">
          <button class='btn btn-info' onclick="toggle(this)">
            <%= fa_icon  index > 0 ? "chevron-down" : "chevron-up" %>
          </button>
        </div>
      </div>
    </h5>
    <div class="card-body <%= index > 0 && 'hidden'%>">

      <div class="row">
        <h6 class="card-text col-4">visa_exp: <%= member.visa_exp || '-' %></h6>
        <h6 class="card-text col-4">wp_exp: <%= member.wp_exp || '-' %></h6>
        <h6 class="card-text col-4">noti90: <%= member.noti90 || '-'%></h6>
        <h6 class="card-text col-4">passport_exp: <%= member.passport_exp || '-'%></h6>
        <h6 class="card-text col-4">passport_exp: <%= member.passport_exp || '-'%></h6>
        <h6 class="card-text col-4">doe: <%= member.doe || '-'%></h6>
        <h6 class="card-text col-4">dob: <%= member.dob || '-'%></h6>
      </div>

      <hr>
      <div class="col text-right">
        <%= link_to 'Edit', edit_family_member_path(@family, member), class: 'btn btn-warning' %>
        <%= link_to 'Destroy', family_member_path(@family, member), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>

    </div>
  </div>
</div>
<% end %>
</div>


